<h3> CS412 PS6: Show Weather for following Dates </h3>

<button (click)="showOptions()">Show Dates</button><br>
<div *ngIf="fetchData===true">
  <ul *ngFor="let week of date">
    <div (click)="showMore(week.id)"><b>Date: {{week.applicable_date}}</b></div><br>
    <div *ngIf="showData===week.id">Weather Data: <p>{{convertJSON(week)}}</p></div>
  </ul>
</div>


<h4> Additional: Show Raw JSON data from Weather API </h4>

<button (click)="showRaw()">Show Raw</button>
<div *ngIf="showAll===true">
  <ul *ngFor="let week of date">
    <p>Weather:{{convertJSON(week)}}</p>
  </ul>
</div>


